# Global ignoring of different binaries and another temporary files

*.mnt*
*.raw
*.iso
build/
.tup
*.bat
*.sh
*.exe
*.dll
*.o
*.lib
*.so
*.bin*
rev.inc
lang.inc
*.efi
*.krn
*.f32
*.img
__pycache__
*.log

